{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="sweetalert2.all.min.js"></script>
	<script src="sweetalert2.min.js"></script>
	<link rel="stylesheet" href="sweetalert2.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/information.css '%}" />
	<title>InformationPage</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>

<body>

	<!-- <header>
		<div class="nav">
			<div class="dropdown show">
				<a class="btn btn-light dropdown-toggle" style=" margin: 20px;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="{% static 'images/img_avatar.png'%}" alt="Avatar" class="avatar">
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" type="button" href="{%url 'information'%}" class="btn btn-primary logOut">Profile</a> 
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" type="button" href="{%url 'viewDetails'%}" class="btn btn-primary logOut">View Details</a> 
					<a class="dropdown-item" type="button" href="{%url 'logout'%}" class="btn btn-danger viewDetails">Log Out</a> 
				</div>
			  </div>
		</div>
	</header> -->
	<section class="vh-100" id="info"> <img id="bg-main" src="{% static 'images/login.jpg' %}" alt="Cover Image"
			style="position: absolute; height: 100%; width: 100%;" />
		<div class="container p-5">
			<h1 style="text-align: center; position: relative; color: black;">INFORMATION COLLECTION</h1>
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="container">
								<form method="POST" action=""> {% csrf_token %}
									<!-- <input type="hidden"name="id"id="id" value="{{prod.id}}"> -->
									<div class="col-lg-12 mb-3 text-center"> {% if prod.file %} <img
											id="blah_primary_back" src="{{prod.file.url}}"
											style="width: auto; height: 200px;" alt="" /> {% endif %} </div>
									<div class="form-group">
										<label for="file" class="form-label">Vaccination Card</label>
										<input class="form-control" type="file"
											accept="image/png, image/gif, image/jpeg" name="file" placeholder="file"
											id="img_primary_back" value="{{prod.file}}"> <span
											class="help-block"></span>
									</div>
									<div class="form-group">
										<input style="font-size: 16px;" id="name" name="name" type="text"
											placeholder="Full Name" autocomplete="off" class="form-control" required
											value="{{prod.name }}"> <span class="help-block"></span>
									</div>
									<!-- <div class="form-group">
                                            <input style="font-size: 16px;" id="email" name="email" type="email" placeholder="Email address" autocomplete="off" class="form-control"required />
                                            <span class="help-block"></span>
                                        </div> -->
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<select style="font-size: 16px;" id="vaccination_brand"
													name="vaccination_brand" type="text" placeholder="Vaccination Brand"
													autocomplete="off" class="form-control" required
													aria-selected="{{prod.vaccination_brand}}">
													{% if prod.vaccination_brand %}
													<option>{{prod.vaccination_brand}}</option>
													{% endif %}
													<option value="">--Please Select your vaccination brand--</option>
													<option value="moderna">Moderna</option>
													<option value="pfizer">Pfizer</option>
													<option value="astraZeneca">AstraZeneca</option>
													<option value="sinovac">Sinovac</option>
													<option value="johnson_and_Johnsons">Johnson and Johnson's</option>
												</select> <span class="help-block"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<select style="font-size: 16px;" id="vaccination_site"
													name="vaccination_site" type="text" placeholder="Site of Injection"
													autocomplete="off" class="form-control" required
													value="{{prod.vaccination_site}}">
													{% if prod.vaccination_site %}
													<option>{{prod.vaccination_site}}</option>
													{% endif %}
													<option value="">--Please Select your vaccination site--</option>
													<option value="right">Upper Right Arm</option>
													<option value="left">Upper Left Arm</option>
												</select> <span class="help-block"></span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<input style="font-size: 16px;" id="address" name="address" type="text"
											placeholder="Full Address" autocomplete="off" class="form-control" required
											value="{{prod.address}}" /> <span class="help-block"></span>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input style="font-size: 16px;" id="contact_number"
													name="contact_number" type="number" placeholder="Contact Number"
													autocomplete="off" class="form-control" required
													value="{{prod.contact_number}}" /> <span class="help-block"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group " style="display:flex;"> <span
													style="margin-right:3px ;">date vaccinated:</span>
												<input type="date" name="bday" style="font-size: 16px;"
													class="form-control" required value="{{prod.bday}}">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input style="font-size: 16px;" id="age" name="age" type="text"
													placeholder="Age" autocomplete="off" class="form-control" required
													value="{{prod.age}}" /> <span class="help-block"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<select style="font-size: 16px;" id="gender" name="gender"
													class="form-control" required value="{{prod.gender}}">
													{% if prod.gender %}
													<option>{{prod.gender}}</option>
													{% endif %}
													<option value="">--Please Select your Gender--</option>
													<option value="male">Male</option>
													<option value="female">Female</option>
												</select> <span class="help-block"></span>
											</div>
										</div>
									</div>
									<div class="form-check mb-3">
										<input class="form-check-input" data-bs-toggle="modal"
											data-bs-target="#exampleModal" onclick="EnableDisable()" id="myCheck"
											type="checkbox" value="" />
										<label class="form-check-label" for="flexCheckChecked"> I agree to terms and
											condition </label>
									</div>
									<div>
										<button id="txt_1_a" href="" type="submit"
											class="btn btn-primary w-100 mb-3 disabled">Proceed</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" style=" width: 130%;">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							Terms And Conditions
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p style="font-size:12px ;"> <b>Privacy Policy:</b> The Makati City Government works toward
							protecting the privacy of the users of its Web Portal. We have carefully crafted this
							privacy policy to define how we collect, use, disclose, transfer, protect, and store your
							information. Please take a moment to familiarize yourself with our privacy practices and
							contact us if you have any questions.
							<br>
							<br> Information Collected and Stored Automatically Personal information is data that can be
							used to uniquely identify or contact a single person. Where personal information is required
							to use or interact with our Web Portal, it is our policy that this information is private
							and confidential unless expressed otherwise.
							<br>
							<br> The personal information you provide to us is stored in a secure location, accessible
							only by authorized personnel, and is used only for the purposes for which you provided it
							such as to post a message to the Tagboard or to join a Forum Discussion. We may also combine
							it with other information to provide and improve our online content and services.
							<br>
							<br> What personal information we collect The only personal information that we collect is
							what you decide to give us by signing up, sending us an email, and subscribing to our email
							subscription services. If you choose to provide us with personal information — like filling
							out a Contact Us form and submitting it to us through the website — we use that information
							to respond to your message, and to help get you the information you requested. Similarly,
							when you sign up for an account with us; we will collect your name, email address, alternate
							email, birthdate, gender, address, occupation, and mobile number.
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script>
		img_primary_back.onchange = (evt) => {
			const [file] = img_primary_back.files;
			if (file) {
				blah_primary_back.src = URL.createObjectURL(file);
			}
		};

		function EnableDisable() {
			var btnSubmit = document.getElementById("myCheck");
			var element = document.getElementById("txt_1_a");
			var modals = document.getElementById("modal");
			if (btnSubmit.checked == true) {
				element.classList.remove("disabled");
				modals.style.display = "block";
				document.getElementById("txt_check_1_input1").disabled = false;
				document.getElementById("txt_check_1_input2").disabled = false;
				document.getElementById("txt_check_1_input3").disabled = false;
			} else {
				element.classList.add("disabled");
				modals.style.display = "none";
				document.getElementById("txt_check_1_input1").disabled = true;
				document.getElementById("txt_check_1_input2").disabled = true;
				document.getElementById("txt_check_1_input3").disabled = true;
			}
		}
	</script>

</body>

</html>