{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'success.css'%}" />
    <title>SuccessPage</title>
</head>
<body>

    <img id="bg-main" src="{% static 'images/login.jpg' %}" alt="Cover Image" style=" position: absolute;height: 100%; width: 100%;" />
        
        <div class="container text-center" >
                
                <div class="card border-dark">
                <p>Have You Felt Any Side Effects?</p>
                    <div class="button">
                        <form method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="hidden" value="0" name="name">
                        <button class="btn btn-primary " name="btnform1" type="submit" style="width: 5rem;">No</button>
                        </form>
                        <!--<a class="btn btn-primary "href="{% url 'sideeffect' %}" style="width: 5rem;">Yes</a>-->
                        <form method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="hidden" value="1" name="name">
                        <button class="btn btn-primary " name="btnform2" type="submit" style="width: 5rem;">Yes</button>
                        </form>
                    </div>
                </div>
        </div>
</body>
</html>