{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'css/details.css' %}" />
	<title>ViewDetailsPage</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.3/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.1.2/css/searchPanes.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.4.1/css/dataTables.dateTime.min.css">
</head>

<body style="background: #eee;">
	<div class="container Details " style="text-transform: capitalize">
		<div class="row">
			<div class="col-3">
				<h4>First Name:</h4>
				<h6>{{userId.nameFirst}}</h6>
			</div>
			<div class="col-3">
				<h4>Last Name:</h4>
				<h6>{{userId.nameLast}}</h6>
			</div>
			<div class="col-3">
				<h4>Middle Initial:</h4>
				<h6>{{userId.name}}</h6>
			</div>
			<div class="col-3">
				<h4>Suffix:</h4>
				<h6>{{userId.suffix}}</h6>
			</div>
			<div class="col-3">
				<h4>Age:</h4>
				<h6>{{userId.age}}</h6>
			</div>
			<div class="col-3">
				<h4>Gender:</h4>
				<h6>{{userId.gender}}</h6>
			</div>
			<div class="col-3">
				<h4>Contact Number:</h4>
				<h6>{{userId.contact_number}}</h6>
			</div>
			<div class="col-3">
				<h4>Street:</h4>
				<h6>{{userId.address}}</h6>
			</div>
			<div class="col-12 mt-3">
				<div class="card-header bg-white"><h3>Vaccine Information</h3></div>
				<table style="width: 100%;text-align: center; margin-top: 1rem;border: 1px solid black;">
					<thead>
						<th>Vaccine Dosage</th>
						<th>Vaccine Brand</th>
						<th>Date Vaccinated</th>
					</thead>
					<tbody>
						<tr>
							<td>First Dose</td>
							<td>{{userId.vaccination_brand}}</td>
							<td>{{userId.dateVaccinated}}</td>
						</tr>
						<tr>
							<td>Second Dose</td>
							<td>{{userId.vaccination_brand1}}</td>
							<td>{{userId.dateVaccinated1}}</td>
						</tr>
						<tr>
							<td>First Booster</td>
							<td>{{userId.vaccination_brand2}}</td>
							<td>{{userId.dateVaccinated2}}</td>
						</tr>
						<tr>
							<td>Second Booster</td>
							<td>{{userId.vaccination_brand3}}</td>
							<td>{{userId.dateVaccinated3}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-12 mt-3">
				<div class="card-header bg-white"><h3>Adverse Events</h3></div>
				<table style="width: 100%;text-align: center; margin-top: 1rem;border: 1px solid black;">
					<thead style="font-size: 12px;">
						<th>#</th>
						<th>Headache</th>
						<th>Fever</th>
						<th>Injection Site Pain</th>
						<th>Rashes</th>
						<th>Itchiness</th>
						<th>Cough</th>
						<th>Body Pain</th>
						<th>Soar Throat</th>
						<th>Stomach Ache</th>
						<th>Vomiting</th>
						<th>Difficult of breathing</th>
						<th>Chest Pain</th>
						<th>Comatose</th>
						<th>Tunnel Vision</th>
						<th>Seizure</th>
						<th>Others</th>
						<th>Status</th>

					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>{% if sfId.headache == 'Mild'%}Yes{% elif sfId.headache == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.fever == 'Mild'%}Yes{% elif sfId.fever == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.InjectionSitePain == 'Mild'%}Yes{% elif sfId.InjectionSitePain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.rashes == 'Mild'%}Yes{% elif sfId.rashes == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.itchiness == 'Mild'%}Yes{% elif sfId.itchiness == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.cough == 'Mild'%}Yes{% elif sfId.cough == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.bodyPain == 'Mild'%}Yes{% elif sfId.bodyPain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.soarThroat == 'Mild'%}Yes{% elif sfId.soarThroat == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.stomachAche == 'Mild'%}Yes{% elif sfId.stomachAche == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.vomiting == 'Mild'%}Yes{% elif sfId.vomiting == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.difficultyOfBreathing == 'Mild'%}Yes{% elif sfId.difficultyOfBreathing == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.chestPain == 'Mild'%}Yes{% elif sfId.chestPain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.disorentation == 'Mild'%}Yes{% elif sfId.disorentation == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.tunnelVision == 'Mild'%}Yes{% elif sfId.tunnelVision == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sfId.seizure == 'Mild'%}Yes{% elif sfId.seizure == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{{sfId.others}}</td>
							<td>{{sfId.status}}</td>
						</tr>
						<tr>
							<td>2</td>
							<td>{% if queId.headache == 'Mild'%}Yes{% elif queId.headache == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.fever == 'Mild'%}Yes{% elif queId.fever == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.InjectionSitePain == 'Mild'%}Yes{% elif queId.InjectionSitePain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.rashes == 'Mild'%}Yes{% elif queId.rashes == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.itchiness == 'Mild'%}Yes{% elif queId.itchiness == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.cough == 'Mild'%}Yes{% elif queId.cough == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.bodyPain == 'Mild'%}Yes{% elif queId.bodyPain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.soarThroat == 'Mild'%}Yes{% elif queId.soarThroat == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.stomachAche == 'Mild'%}Yes{% elif queId.stomachAche == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.vomiting == 'Mild'%}Yes{% elif queId.vomiting == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.difficultyOfBreathing == 'Mild'%}Yes{% elif queId.difficultyOfBreathing == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.chestPain == 'Mild'%}Yes{% elif queId.chestPain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.disorentation == 'Mild'%}Yes{% elif queId.disorentation == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.tunnelVision == 'Mild'%}Yes{% elif queId.tunnelVision == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if queId.seizure == 'Mild'%}Yes{% elif queId.seizure == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{{queId.others}}</td>
							<td>{{queId.status}}</td>
						</tr>
						<tr>
							<td>3</td>
							<td>{% if sBooster.headache == 'Mild'%}Yes{% elif sBooster.headache == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.fever == 'Mild'%}Yes{% elif sBooster.fever == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.InjectionSitePain == 'Mild'%}Yes{% elif sBooster.InjectionSitePain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.rashes == 'Mild'%}Yes{% elif sBooster.rashes == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.itchiness == 'Mild'%}Yes{% elif sBooster.itchiness == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.cough == 'Mild'%}Yes{% elif sBooster.cough == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.bodyPain == 'Mild'%}Yes{% elif sBooster.bodyPain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.soarThroat == 'Mild'%}Yes{% elif sBooster.soarThroat == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.stomachAche == 'Mild'%}Yes{% elif sBooster.stomachAche == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.vomiting == 'Mild'%}Yes{% elif sBooster.vomiting == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.difficultyOfBreathing == 'Mild'%}Yes{% elif sBooster.difficultyOfBreathing == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.chestPain == 'Mild'%}Yes{% elif sBooster.chestPain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.disorentation == 'Mild'%}Yes{% elif sBooster.disorentation == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.tunnelVision == 'Mild'%}Yes{% elif sBooster.tunnelVision == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sBooster.seizure == 'Mild'%}Yes{% elif sBooster.seizure == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{{sBooster.others}}</td>
							<td>{{sBooster.status}}</td>
						</tr>
						<tr>
							<td>4</td>
							<td>{% if sDose.headache == 'Mild'%}Yes{% elif sDose.headache == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.fever == 'Mild'%}Yes{% elif sDose.fever == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.InjectionSitePain == 'Mild'%}Yes{% elif sDose.InjectionSitePain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.rashes == 'Mild'%}Yes{% elif sDose.rashes == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.itchiness == 'Mild'%}Yes{% elif sDose.itchiness == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.cough == 'Mild'%}Yes{% elif sDose.cough == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.bodyPain == 'Mild'%}Yes{% elif sDose.bodyPain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.soarThroat == 'Mild'%}Yes{% elif sDose.soarThroat == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.stomachAche == 'Mild'%}Yes{% elif sDose.stomachAche == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.vomiting == 'Mild'%}Yes{% elif sDose.vomiting == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.difficultyOfBreathing == 'Mild'%}Yes{% elif sDose.difficultyOfBreathing == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.chestPain == 'Mild'%}Yes{% elif sDose.chestPain == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.disorentation == 'Mild'%}Yes{% elif sDose.disorentation == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.tunnelVision == 'Mild'%}Yes{% elif sDose.tunnelVision == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{% if sDose.seizure == 'Mild'%}Yes{% elif sDose.seizure == 'Severe' %}Yes{% else %}No{% endif %}</td>
							<td>{{sDose.others}}</td>
							<td>{{sDose.status}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-12"><a style="text-decoration: none;" href="{% url 'logout1' %}" ><button class="btn btn-danger w-auto m-2"> Logout</button></a></div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.3/js/dataTables.fixedHeader.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdn.datatables.net/searchpanes/2.1.2/js/dataTables.searchPanes.min.js"></script>
<script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
</body>

</html>