{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'css/details.css' %}" />
	<title>ViewDetailsPage</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">  

</head>

<body> <img id="bg-main" src="{% static 'images/login.jpg' %}" alt="Cover Image" style="position: absolute; height: 100%; width: 100%;" />
	<div class="text-details">
		<h1 style=" text-transform: uppercase; ">{{userId.name}}</h1><span style="font-size:30px ;">(Details)</span></div>
	<div class="container Details " style="position: relative;background: white;padding:0px;top: 10%;    border: 1px solid black;">
		<div class="wrapper">
			<div class="wrapper-scroll example">
				<br>
				<div class="form-group">
					<label class="form-label-title"> Vaccination Card:</label>
					<br> {% if userId.file %} <img id="blah_primary_back" src="{{userId.file.url}}" style="width: auto; height: 200px;" alt="" /> {% endif %} </div>
				<div class="form-group">
					<label class="form-label-title">Full Name:</label>
					<br>
					<label class="form-label">{{userId.name}}</label>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label-title">Vaccination Brand:</label>
							<br>
							<label class="form-label">{{userId.vaccination_brand}}</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label-title">Vaccination Site:</label>
							<br>
							<label class="form-label">{{userId.vaccination_site}}</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label-title">Full Address:</label>
					<br>
					<label class="form-label">{{userId.address}}</label>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label-title">Contact Number:</label>
							<br>
							<label class="form-label">{{userId.contact_number}}</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label-title">Birthdate:</label>
							<br>
							<label class="form-label">{{userId.bday}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label-title">Age:</label>
							<br>
							<label class="form-label">{{userId.age}}</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label-title">Gender:</label>
							<br>
							<label class="form-label">{{userId.gender}}</label>
						</div>
					</div>
				</div>
				<!-- Questionaire survey -->
				<br>
				<div class="container" style="text-align: center;">
					<div class="text">
						<center>
							<h1>Screening Questionaire for Vaccination</h1></center>
					</div>
					<table width="auto" cellpadding="2">
						<tr>
							<td colspan="4" height="40"><span style="color:red"><b>QUESTION :</b></span></td>
						</tr>
						<tr>
							<td width="400" height="60"><b><i>Have you (or any family member/s) been diagnosed with or tested positive for COVID-19 in the past three (3) months?&nbsp;</i></b></td>
							<td width="auto">
								<div class="form-control-b">
									<h5>{{queId.Q0}}</h5> </div>
							</td>
						</tr>
						<tr>
							<td colspan="4" height="40"><b><i>Do you or have you the following symptoms in the past 14 days?</i></b></td>
						</tr>
						<tr>
							<td><i>- Fever of greater than 37.5°C</i></td>
							<td width="auto">
								<div class="form-control-b">
									<h5>{{queId.Q1}}</h5> </div>
							</td>
						</tr>
						<tr>
							<td><i>- Do you or have you had any 'flu-like' symptoms, such as cough or chills, in the past 14 days?</i></td>
							<td width="auto">
								<div class="form-control-b">
									<h5>{{queId.Q2}}</h5> </div>
							</td>
						</tr>
						<tr>
							<td><i>- Do you experience shortness of breath or breathing difficulty?</i></td>
							<td width="auto">
								<div class="form-control-b">
									<h5>{{queId.Q3}}</h5> </div>
							</td>
						</tr>
						<tr>
							<td><i>- Do you have any difficulties with your sense of taste or smell at present?</i></td>
							<td width="auto">
								<div class="form-control-b">
									<h5>{{queId.Q4}}</h5> </div>
							</td>
						</tr>
						<tr>
							<td><i>- Headache, muscle or body ache</i></td>
							<td width="auto">
								<div class="form-control-b">
									<h5>{{queId.Q5}}</h5> </div>
							</td>
						</tr>
						<tr>
							<td><i>- Weakness or fatigue</i></td>
							<td width="auto">
								<div class="form-control-b">
									<h5>{{queId.Q6}}</h5> </div>
							</td>
							<tr>
								<td><i>- Are you experiencing diarrhea?</i></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q7}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td width="400" height="40"><b><i>Do you have any allergy to food, antibiotics, or any medicine?&nbsp;</i></b></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q8}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td width="400" height="40"><b><i>Have you ever had a severe reaction to vaccines in the past?&nbsp;</i></b></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q9}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td width="400" height="40"><b><i>Have you received any vaccine in the last 14 days?&nbsp;</i></b></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q10}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td colspan="4" height="40"><b><i>For women :</i></b></td>
							</tr>
							<tr>
								<td><i>- Are you pregnant</i></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q11}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td><i>- For women who are pregnant, are you in your 1st trimester (1 to 3 months) of pregnancy?</i></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q12}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td><i>- Plans to get pregnant in the next 6 months?</i></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q13}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td width="400" height="40"><b><i>Do you have a bleeding disorder or are you taking a blood thinner? (Example of Bleeding disorder: Hemophilia, Thalassemia) (Example of blood thinning medications: Aspirin, Clopidogrel, Warfarin, Cilostazol)&nbsp;</i></b></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q14}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td colspan="4" height="40"><b><i>Do you have any of the following illness/disease?</i></b></td>
							</tr>
							<tr>
								<td><i>- Autoimmune disease</i></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q15}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td><i>- HIV Diagnosis</i></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q16}}</h5> </div>
								</td>
							</tr>
							<tr>
								<td><i>- Cancer/Malignancy</i></td>
								<td width="auto">
									<div class="form-control-b">
										<h5>{{queId.Q17}}</h5> </div>
								</td>
								<tr>
									<td><i>- Transplant Patient</i></td>
									<td width="auto">
										<div class="form-control-b">
											<h5>{{queId.Q18}}</h5> </div>
									</td>
								</tr>
								<tr>
									<td><i>- Under steroid treatment</i></td>
									<td width="auto">
										<div class="form-control-b">
											<h5>{{queId.Q19}}</h5> </div>
									</td>
								</tr>
								<tr>
									<td><i>- Bed ridden, terminal illness, less than 6mos prognosis</i></td>
									<td width="auto">
										<div class="form-control-b">
											<h5>{{queId.Q20}}</h5> </div>
									</td>
								</tr>
								<tr>
									<td width="400" height="40"><b><i>Are you bedridden?&nbsp;</i></b></td>
									<td width="auto">
										<div class="form-control-b">
											<h5>{{queId.Q21}}</h5> </div>
									</td>
								</tr>
								<tr>
									<td width="400" height="40"><b><i>Are you wheelchair bound?&nbsp;</i></b></td>
									<td width="auto">
										<div class="form-control-b">
											<h5>{{queId.Q22}}</h5> </div>
									</td>
								</tr>
					</table>
					<p style="color:red;text-align:left ;  margin: 15px; ">Note: If you answered yes to any of the above-mentioned diseases/condition, please provide a medical clearance from your physician on the day of your vaccination.</p>
					<table width="auto">
						<tr>
							<td style="padding: 10px;"> <b><i>Allergies <small>(Please check all that apply):</small></i></b>
								<br>{% if prod %}
								<h5>{{queId.allergy}} {{queId.allergy1}} {{queId.allergy2}} {{queId.allergy3}} {{queId.allergy4}} {{queId.allergy5}}</h5> <b><i>With Co-morbidities? <span style="color:red;" >*</span></i></b>
								<br>
								<h5>{{queId.Q23}}</h5> <b><i>Was diagnosed with COVID-19? <span style="color:red;" >*</span></i></b>
								<br>
								<h5>{{queId.Q24}}</h5> </td>{% endif %}
						</tr>
					</table>
					<!-- sideeffect data -->
					<br>
					<center>
						<h1>Screening Questionaire for Vaccination</h1></center>
				</div>
				<div class="overFlow">
					<table class="table table-hover table-wrapper  text-center" style="margin-bottom: 50px;text-transform: capitalize;padding-left:12px ">
						<thead>
							<tr>
								<th>Muscle ache</th>
								<th>Headache</th>
								<th>fever</th>
								<th>redness</th>
								<th>swelling</th>
								<th>tenderness</th>
								<th>warmth</th>
								<th>itch</th>
								<th>induration</th>
								<th>feverish</th>
								<th>chills</th>
								<th>join pain</th>
								<th>fatigue</th>
								<th>nausea</th>
								<th>vomiting</th>
							</tr>
						</thead>
						<tbody style="text-transform: capitalize;">
							<tr>
								<td class="cell-detail"> <span>{{sfId.muscle_ache}}</span> </td>
								<td class="cell-detail"> <span>{{sfId.headache}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.fever}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.redness}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.swelling}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.tenderness}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.warmth}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.itch}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.induration}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.feverish}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.chills}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.join_pain}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.fatigue}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.nausea}}</span> </td>
								<td class="cell-detail text-center"> <span>{{sfId.vomiting}}</span> </td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="w3-container text-center"> <a type="button" onclick="history.back()" class="btn btn-primary mb-5 w-50 ">Done</a> </div>
			</div>
			
		</div>
	</div>
</body>

</html>