{% extends "layouts/LayoutDashboard.html" %}
{% load static %}

{% block title %} Typography {% endblock %}


{% block stylesheets %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/processing.css'%}" />
  {% endblock stylesheets %}

  {% block content %}

  <main>
    {% include "system/navbar.html" %}

    <div class="fluid-container p-5">
      <div class="row" style="display: none">
        <div class="method">
          <p>Select Method Clustering</p>
        </div>
        <div class="method">
          <div class="btn-group">
            <select class="form-select" id="inputMethod">
              <option selected>Choose...</option>
              <option value="1">K-Means</option>
            </select>
          </div>

          <button class="btn btn-dark start" type="button" id="cluster_btn" onclick="this.form.submit()">
            Start
          </button>
        </div>
      </div>
      <form action="{% url 'clustering' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="option col-md-4" style="display: none">
            <!-- <p>Test Options</p> -->
            <div class="box__option" style="    visibility: collapse;">
              <div class="form-check">
                <input class="form-check-input radio" type="radio" name="validation" id="split" disabled />
                <label class="form-check-label" for="split">
                  Percentage split data <span>%</span>
                </label>
                <div class="splitValue col-sm-3">
                  <input type="text" name="splitValue" class="form-control" value="40%" />
                </div>
              </div>
              <div class="form-check">
                <input class="form-check-input radio" type="radio" name="validation" id="cross" disabled />
                <label class="form-check-label" for="cross">
                  Cross-validation <span class="fold">folds</span>
                </label>
                <div class="crossValue col-sm-3">
                  <input type="text" class="form-control" {% if crossValue %} value="{{ crossValue }}" {% endif %} />
                </div>
              </div>
            </div>
          </div>
          <div class="results">
            <p>Clustering Output</p>
            <div class="box__result">
              <div class="scrollClusters" id="resultPdf">
                <div class="container__01">
                  <div class="wrapper__01">
                    {% if clusters %}
                    <p>=== Run Information ===</p>
                    <p>Name dataset : {{ name }}</p>
                    <p>Instance : {{ rows }} rows</p>
                    <p>Method : K-Means Clustering</p>
                    <br />
                    <p>=== Clusters ===</p>
                    {% for cluster in clusters %}
                    <p>Cluster {{forloop.counter0}} : {{ cluster }}</p>
                    {% endfor %}
                    <br />
                    <p>=== Final Clusters ===</p>
                    <p>Attributes :</p>
                    {% for feature in features %}
                    <li>{{feature}}</li>
                    {% endfor %}
                    <p>Fulldata : {{ rows }} data</p>
                    {% for cluster in clusters %}
                    <p>Cluster {{forloop.counter0}} : {{ cluster }}</p>
                    {% endfor %}
                  </div>
                  <div class="conatiner__02">
                    <canvas id="chart" width="150px" height="50px"></canvas>

                    {% if chart %}
                    <div class="wrapper__03">
                      <img src="data:image/png;base64, {{chart|safe}}" />
                    </div>

                    {% endif %}
                  </div>

                  {% endif %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="model col-md-4" style="display: none">
          <p>Create Models</p>
          <div class="box__model">
            <div class="clusters">
              <p>Number of Cluster</p>
              <div class="n_clusters col-sm-11">
                <input type="text" class="form-control" name="nilai_k" />
              </div>
            </div>
          </div>
        </div>
        <div class="w-100" style="display: grid; place-items: center">
          <button type="button" id="save" class="btn btn-dark save w-auto">
            Save The Results
          </button>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.com/libraries/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
  <script>
    // chart bar
    $(document).ready(function () {
      var label = JSON.parse("{{headers|escapejs}}");
      var mins = JSON.parse("{{mins|escapejs}}");
      var means = JSON.parse("{{means|escapejs}}");
      var maxs = JSON.parse("{{maxs|escapejs}}");
      console.log(label);
      console.log(maxs);
      console.log(means);
      console.log(mins);
      var ctx = document.getElementById("myChart").getContext("2d");
      new Chart(ctx, {
        type: "bar",
        responsive: true,
        maintainAspectRatio: false,
        data: {
          labels: label,
          datasets: [
            {
              label: "Min",
              data: mins,
              backgroundColor: "rgba(255, 99, 132, 0.2)",
              borderColor: "rgba(255, 99, 132, 1)",
              borderWidth: 1,
            },
            {
              label: "Mean",
              data: means,
              backgroundColor: "rgba(255, 206, 86, 0.2)",
              borderColor: "rgba(255, 206, 86, 1)",
              borderWidth: 1,
            },
            {
              label: "Max",
              data: maxs,
              backgroundColor: "rgba(54, 162, 235, 0.2)",
              borderColor: "rgba(54, 162, 235, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            xAxes: [{ stacked: true }],
            yAxes: [{ stacked: true }],
          },
        },
      });
    });

    // For a pie chart
    $(function () {
      var label = JSON.parse("{{label|escapejs}}");
      var data = JSON.parse("{{clusters|escapejs}}");
      const cts = document.getElementById("chart").getContext("2d");
      var coloR = [];
      var dynamicColors = function () {
        var randomColor = Math.floor(Math.random() * 16777215).toString(16);
        return "#" + randomColor;
      };

      for (var i in data) {
        coloR.push(dynamicColors());
      }
      var chart = new Chart(cts, {
        type: "pie",
        data: {
          labels: label,
          datasets: [
            {
              label: "# of votes",
              data: data,
              backgroundColor: coloR,
              borderWidth: 1,
            },
          ],
        },
      });
    });

    $(document).ready(function () {
      $("#save").click(function () {
        var currentPosition = document.getElementById("resultPdf").scrollTop;
        var w = document.getElementById("resultPdf").offsetWidth;
        var h = document.getElementById("resultPdf").offsetHeight;
        console.log(w);
        console.log(h);
        document.getElementById("resultPdf").style.height = "auto";
        document.getElementById("resultPdf").style.background = "white";

        html2canvas(document.getElementById("resultPdf"), {
          dpi: 300, // Set to 300 DPI
          scale: 1000, // Adjusts your resolution
          onrendered: function (canvas) {
            var img = canvas.toDataURL("image/jpeg", 1);
            var doc = new jsPDF("p", "pt", "a4");
            doc.addImage(img, "JPEG", 0, 0, w - 400, h);
            doc.addPage();
            doc.save("results.pdf");
          },
        });
        document.getElementById("resultPdf").style.height = "365px";
        document.getElementById("resultPdf").scrollTop = currentPosition;
      });
    });
  </script>
{% endblock content %}

