<div id="google_translate_element"></div>
<style>
.container-fluid{
    position: absolute;
    top: 0;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
   display: none;
}
body{
    position: initial !important;
}
#google_translate_element{
    margin: 10px;
    position: absolute;
    top: 0;
}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(1), div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(2), div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(3){display:none;color: ;}
div#google_translate_element div.goog-te-gadget-simple {margin:0px; padding:10px; display:inline-block; background-color:#1DA1F2; border:1px solid white;}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value {color:white;}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value::after{content:"Translate Site"; padding-right:5px;}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed {
    color: #fffdfd;
    text-decoration: none;
}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
    text-decoration: none;
    color: white !important;
}    
div#google_translate_element div.goog-te-gadget-simple img:nth-of-type(1) {display:none;}

</style>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en,tl', includedLanguages: 'en,tl', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>