{% extends "passwordReset/index.html" %}
    {% block content %}     
    <form method="POST" action="">
        {% csrf_token %}
        <div class="card text-center align-items-center position-absolute top-50 start-50 translate-middle ">
            <div class="card-body" style="text-align: start">
                <div class="icon fw-bold" style="font-size: 23px;">Forgot your password</div>
                <p style="font-size: 20px;">Please, enter your e-mail address below to receive your user and a new password</p>
                    {{ form.as_p }}
                <button class="btn btn-primary" type="submit" style="border-radius: 50px;">Reset password</button>
            </div>
        </div>
    </form>
    {% endblock content %}     
