{% extends "passwordReset/index.html" %}

    {% block content %}
    <div class="card text-center align-items-center position-absolute top-50 start-50 translate-middle ">
        <div class="card-body">
            <div class="icon"><i class="fa-solid fa-paper-plane" style=" font-size: 4rem;
                color: #1da1f2;"></i></div>
            <div class="title">Password reset e-mail has been sent</div>
            <div class="text">A password reset email has been sent to your e-mail address</div>
        </div>
    </div>
    {% endblock content %}     
