header {
    padding: 25px 0 20px 0;
}

.wrapper {

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.vaccimo {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */

    text-transform: capitalize;

    /* Primary */

    color: #1DA1F2;
}

.container-icon {
    display: flex;
}

.contact {
    display: flex;
    align-items: center;
    margin-right: 45px;

}

.contact .icon {
    margin-right: 8px;
    font-size: 25px;
}

.icon-title .title {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    text-align: start;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #1DA1F2;
}

.icon-title .text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;

    font-size: 16px;
    line-height: 19px;
}

.nav-item ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0px;

}

.nav-item ul li a {
    cursor: pointer;
    transition: 1ms;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
    transform: translate(0px, 10px);

    text-decoration: none;
    list-style: none;
}

.nav-link:hover {
    color: #BFD2F8;
}

.navbar {
    width: 100%;

}

.nav-item {
    margin: 0 0px;
}

nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 17px 0 18px;
    gap: 276px;
    background-color: #1DA1F2;

}