<!-- Modal -->
<style>
  table .display{
    margin-bottom: 40px;
  }
</style>
{% for y in haveSideeffect %}
<div class="modal fade" id="exampleModal{{y.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">With Adverse Side Effect</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card">                                 
                <div class="table-responsive">
                  <table id="myTable67" class="table table-hover">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>User Id</th>
                          <th>First Name</th>
                          <th>Middle Initial</th>
                          <th>Last Name</th>
                          <th>Age</th>
                          <th>Gender</th>
                          <th>Contact Number</th>
                          <th>Address</th>
                          <th>First Dose</th>
                          <th>Date Vaccinated</th>
                          <th>Second Dose</th>
                          <th>Date Vaccinated</th>
                          <th>First Booster</th>
                          <th>Date Vaccinated</th>
                          <th>Second Booster</th>
                          <th>Date Vaccinated</th>
                          <th>Date Created</th>
                          <!--<th>date/time</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td class="cell-detail"> {{ forloop.counter }} </td>
                          <td class="cell-detail"> {{y.author_id}}</td>
                          <td class="cell-detail"> {{y.nameFirst}}</td>
                          <td class="cell-detail"> {{y.name}}</td>
                          <td class="cell-detail"> {{y.nameLast}}</td>
                          <td class="cell-detail"> {{y.age}}</td>
                          <td class="cell-detail"> {{y.gender}}</td>
                          <td class="cell-detail"> {{y.contact_number}}</td>
                          <td class="cell-detail"> {{y.address}}</td>
                          <td class="cell-detail"> {{y.vaccination_brand}}</td>
                          <td class="cell-detail"> {{y.dateVaccinated}}</td>
                          <td class="cell-detail"> {{y.vaccination_brand1}}</td>
                          <td class="cell-detail"> {{y.dateVaccinated1}}</td>
                          <td class="cell-detail"> {{y.vaccination_brand2}}</td>
                          <td class="cell-detail"> {{y.dateVaccinated2}}</td>
                          <td class="cell-detail"> {{y.vaccination_brand3}}</td>
                          <td class="cell-detail"> {{y.dateVaccinated3}}</td>
                          <td class="cell-detail"> {{y.date_created}}</td>
                          <!--<td class="cell-detail"> <span>{{i.date_created}}</span> </td>-->
                        </tr>
                    </tbody>  
                           
                  </table>       
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-danger"><a href="{% url 'generate_pdf' pk=y.id %}" class="text-white">Download PDF</a></button>-->
        
        </div>
      </div>
    </div>
  </div>
  
  {% endfor %}
