{% load static %}
<section id="about">
    <div class=" container row featurette mx-auto">
        <h2 class="featurette-heading fw-bolder lh-base mb-4 text-center " style="margin-top: 106px;
        font-size: 2.5rem;">About
        </h2>
        <div class="col-md-6">
            <p class="lead fs-5" style="text-indent: 50px;"><span class="fw-bold">BARANGAY WEST REMBO</span> is one historic barangay. Though not much
                document
                can
                still support this claim, it
                is evidently concretized by the presence of the old Ermita de San Nicolas, the Church established by the
                Augustinian friars during the Spanish colonization of the Philippines. It is believed that the first
                settlers of this barangay were Chinese traders settled near the banks of Pasig River. This account is
                based
                on the writings of an anthropologist-historian who went around conducting his research and study during
                the
                American occupation of this country. The richness of our historical and cultural past may still yet to
                be
                accounted for but structural evidence, at the moment, would suffice to say that this particular locality
                started not by the name it is known today.
            </p>
            <!--<p class="lead fs-5" style="text-indent: 50px;">
                When Fort Bonifacio was designated to be the home of the Philippine Army, B/Gen. Alfonso Arellano, the
                Commanding General of the Philippine Army at that time, relocated inhabitants of the nearby barrio to a
                well-situated area, which is now known as BARANGAY WEST REMBO. REMBO is actually an acronym for
                Riverside
                Enlisted Men's Barrio.

                Military authorities used to appoint the Barangay Leaders until 1982, when the Commission on Elections
                authorized the residents of Fort Bonifacio to elect their Barangay Leaders who came mostly from the
                Philippine Army. This paved the way to the escalation of a peaceful and progressive Barangays in Makati
                today.
            </p>-->
        </div>
        <div class="col-md-6">
            <img class="d-block mx-auto mb-4" src="{% static 'images/mwp-west-rembo.png' %}" alt="" width="420"
                height="400">
        </div>
    </div>
</section>