{% load static %}
<section id="service">
    <div class=" service container container-lg px-lg-4  py-lg-5" id="featured-3">
        <h2 class="pb-2 border-bottom fs-1 mt-md-5 pt-md-3 fw-bolder">Services</h2>
        <div class="row  g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class=" feature col-4 col-md">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient mb-3">
                    <img class="rounded-circle mb-3" src="{% static 'images/par.png' %}" alt=".." />
                </div>
                <h3 class="fs-2 ">WHAT ADVERSE REACTION SHOULD YOU INDICATE?</h3>
                <p class="text-service fs-5 " style="  text-align: justify;">We urge individuals to report any medical
                    problems that occur after getting
                    vaccinated. The
                    immunization may create certain issues. Others may not have a link.
                    The application you use to submit a report to us
                    collects information such as:The vaccinationThe individual who was immunizedThe response
                    that occurred</p>

            </div>
            <div class="feature col-4 col-md ">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient mb-3">
                    <img class="rounded-circle mb-5" src="{% static 'images/par2.png' %}" alt=".." />
                </div>
                <h3 class="fs-2"> WHY SHOULD CARE ABOUT SIDE EFFECTS?</h3>
                <p class="text-service fs-5" style="  text-align: justify;">Paragraph of text beneath the heading to
                    explain the heading. We'll add
                    onto it
                    with
                    another sentence and probably just keep going until we run out of words.</p>

            </div>
            <div class="feature col-4 col-md">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient mb-3">
                    <img class="rounded-circle mb-3" src="{% static 'images/par3.png' %}" alt=".." />
                </div>
                <h3 class="fs-2">REGISTER TO VACCIMO:</h3>
                <p class="text-service fs-5" style="  text-align: justify;">You can participate in Vaccimo after
                    receiving any dose of COVID-19
                    vaccination
                    by
                    visiting
                    vsafe.cdc.gov on your desktop or mobile device.
                    Keep your vaccination information card handy to help you recall which vaccines you got
                    and when</p>

            </div>
        </div>
    </div>
</section>